[Desktop Entry]
Name=Quake
Exec=quake-shareware
Comment=Shareware version of Quake
Type=Application
Icon=${SNAP}/quake-shareware.png
StartupNotify=true
